
/* App.css */

/* Page transition styles */
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.page {
  position: relative;
}


.content{
  margin-top: 6rem;
}

.grand-hotel-regular {
  font-family: "Grand Hotel", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-sans-regular {
  font-family: "Merriweather Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-sans-italic {
  font-family: "Merriweather Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-sans-bold {
  font-family: "Merriweather Sans", serif;
  font-weight: 700;
  font-style: normal;
}
